(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.



(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

In [13]:
A= int(input())
B= int(input())

B_str = str(B)

print(int(B_str[-1])*A)
print(int(B_str[-2])*A)
print(int(B_str[0])*A)
print(B*A)

472
385
2360
3776
1416
181720